.search-form {
    background-color: #EDF3F8;
    margin-right: 1.875rem;
}

.search-form input {
    background-color: #EDF3F8;
    width: 17.5rem;
    transition: all 250ms linear;
    height: 2.125rem;
}

.search-form input:focus {
    background-color: #EDF3F8;
    box-shadow: none;
    width: 19.375rem;
}

/* .search-form.active{
    border: 2px solid #0A66C2 !important;
} */