.main-menu__item a, .main-menu__item ion-icon{
    color: #666;
    font-weight: 300;
}

.main-menu__item ion-icon {
    font-size: 1.5rem;
    line-height: 1.125rem;
}

.main-menu__item span {
    font-size: 0.75rem;
}

.main-menu__item a:hover, .main-menu__item ion-icon:hover{
    color: #000;
}

/* .main-menu__item.active a, .main-menu__item.active ion-icon{
    color: #000;
} */