:root {
  --body-bg: #F4F2EE;
  --text-gray: rgb(0,0,0,0.75)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--body-bg);
}

.text--gray{
  color: var(--text-gray);
}